<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.sohagame.sdkdemo">

    <application
        android:name="com.s.sdk.SApplication"
        android:icon="@mipmap/ic_appdemo"
        android:label="@string/s_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_appdemo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.demo.sdksoha.MainActivity"
            android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:screenOrientation="portrait"><!--android:screenOrientation="landscape"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>